<div class="row">
  <div class="padding-all">
    <%= simple_form_for [@question] do |f| %>
      <div class="margin-bottom"><%= f.association :category, label: "Pick a category", include_hidden: false%></div>
      <div class="margin-bottom"><%= f.input :title, label: "Your question" %></div>
      <div class="margin-bottom"><%= f.input :description, label: "Question Details (optional)" %></div>
      <div class="text-center margin-bottom"><%= f.submit "Submit Question", class: "btn btn-orange btn-big margin-top" %></div>
    <% end %>
  </div>
</div>

