<div class="container">

  <div class="row">

    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="flex-inline">
        <% if @question.user == current_user %>
          <h2>Your Question</h2>
        <% else %>
          <h2>Question Details</h2>
        <% end %>
        <%= link_to "Go Back", questions_path, class:"btn btn-white btn-small" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2 question-card">
      <p><span class="category"><%= @question.category.name.upcase %></span></p>

      <div class="header-left">
        <img src="<%= @question.user.avatar %>" class="avatar card-avatar">
        <div class="header-textbox">
          <p class="user"><%= @question.user.email %></p>
          <p class="created_at gray"><%= @question.created_at.strftime("Posted on: %d/%m/%Y") %> </p>
        </div>
      </div>

      <p><span class="title"><%= @question.title %></span></p>
      <p><span class="description"><%= @question.description %></span></p>

        <div class="button-container">
          <% if current_user %>
            <% if @question.user.id == current_user.id %>
              <%= link_to "Edit", edit_question_path, class:"btn btn-white btn-small" %>
              <%= link_to "Delete", question_path(@question), method: :delete, class:"btn btn-white btn-small" %>
            <% else %>
              <%= link_to "Reply", new_question_reply_path(@question), class:"btn btn-orange btn-small" %>
            <% end %>
          <% else %>
            <%= link_to "Reply", new_question_reply_path(@question), class:"btn btn-orange btn-small" %>
          <% end %>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <% if @question.user == current_user && @question.replies.count == 0 %>
        <p class="replies-text">No replies yet</p>
      <% else %>
        <% if @question.replies.count == 0 %>
          <p class="replies-text">Be the first to reply</p>
        <% elsif @question.replies.count == 1 %>
          <h2><%= @question.replies.count %> Reply</h2>
        <% else %>
          <p class="replies-text"><%= @question.replies.count %> Replies</p>
        <% end %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <% @question.replies.each do |reply| %>
      <div class="col-xs-12 col-md-8 col-md-offset-2 white-box reply-card">
        <div class="reply">
          <div class="reply-header">
            <div class="header-left">
              <img src="<%= reply.user.avatar %>" class="avatar card-avatar">
              <div class="header-textbox">
                <p class="user"><%= reply.user.email %></p>
                <p class="created_at gray"><%= reply.created_at.strftime("Replied on: %d/%m/%Y") %> </p>
                <div class="rating-stars">
                  <%# Add Average Rating for this user %>
                  <span class="reviews-text">Reviews:</span>
                  <% ratingsum = 0  %>
                  <% count = 0 %>
                  <% @reviews.each do |review| %>
                    <% if review.user_id == reply.user_id %>
                      <% ratingsum += review.rating %>
                      <% count += 1 %>
                    <% end %>
                  <% end %>
                  <% if count > 0 %>
                    <% num = (ratingsum / count).round(0) %>
                    <% anum = 5 - num %>
                    <% num.times do %>
                    <i class="fas fa-star" style="color: #f9d949"></i>
                    <% end %>
                    <% anum.times do %>
                    <i class="far fa-star" style="color: #f9d949"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="status-box">
              <% if reply.reply_status == "pending" %>
                <i class="far fa-dot-circle gray"></i>
                <p class="status gray"><%= reply.reply_status%></p>
              <% elsif reply.reply_status == "accepted" %>
                <i class="far fa-check-circle green"></i>
                <p class="status green"><%= reply.reply_status%></p>
              <% elsif reply.reply_status == "rejected" %>
                <i class="far fa-times-circle red"></i>
                <p class="status red"><%= reply.reply_status%></p>
              <% end %>
            </div>
          </div>


          <div class="reply-content">
            <p class="description"><%= reply.description %></p>
          </div>
          <div class="reply-footer">
            <p class="offer gray"><%= reply.offer %> €</p>
            <div class="button-container">
              <% if @question.user == current_user %>
              <%= link_to "Send a Message", conversations_path(question_id: @question, reply_id: reply), method: :post, class:"btn btn-orange btn-small" %>
              <% else %>
              <%= link_to "Send a Message", conversations_path(reply_id: reply), method: :post, class:"btn btn-orange btn-small" %>
              <% end %>
              <%= link_to "Book a Call", question_call_path(@question, reply), class:"btn btn-orange btn-small" %>
            </div>
          </div>

        </div>
        </div>
    <%# End of Loop  %>
    <% end %>
    </div>
  </div>
</div>
