<div class="container">


  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="flex-inline">
        <h2>Your Question</h2>
        <%= link_to "Dashboard", dashboard_path, class:"btn btn-white btn-small" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2 question-card">
      <p><span class="category"><%= @question.category.name.upcase %></span></p>
      <p><span class="title"><%= @question.title %></span></p>
      <p><span class="description"><%= @question.description %></span></p>

        <%# displaying the correct buttons for the respective user state %>
      <div class="button-container">
        <% if current_user %>
          <% if @question.user.id == current_user.id %>
            <%= link_to "Edit", edit_question_path, class:"btn btn-white btn-small" %>
            <%= link_to "Delete", question_path(@question), method: :delete, class:"btn btn-white btn-small" %>
          <% else %>
            <%= link_to "Reply", new_question_reply_path(@question), class:"btn btn-orange btn-small" %>
          <% end %>
        <% else %>
          <%= link_to "Reply", new_question_reply_path(@question), class:"btn btn-orange btn-small" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% if @question.replies.count == 0 %>
      <h3> Be the first to reply </h3>
    <% elsif @question.replies.count == 1 %>
      <h2><%= @question.replies.count %> Reply</h2>
    <% else %>
      <h2><%= @question.replies.count %> Replies</h2>
    <% end %>
  </div>


  <div class="row">
    <% @question.replies.each do |reply| %>
      <div class="col-xs-12 col-md-8 col-md-offset-2 white-box reply-card">
        <div class="reply">
          <div class="reply-header">
            <div class="header-left">
              <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar card-avatar">
              <div class="header-textbox">
                <p class="user"><%= reply.user.email %></p>
                <p class="created_at gray"><%= reply.created_at.strftime("Replied on: %d/%m/%Y") %> </p>
                <div class="rating-stars">
                  <%# Add Average Rating for this user %>
                  <span class="reviews-text">Reviews:</span>
                  <% ratingsum = 0  %>
                  <% count = 0 %>
                  <% @reviews.each do |review| %>
                    <% if review.user_id == reply.user_id %>
                      <% ratingsum += review.rating %>
                      <% count += 1 %>
                    <% end %>
                  <% end %>
                  <% num = (ratingsum / count).round(0) %>
                  <% anum = 5 - num %>
                  <% num.times do %>
                  <i class="fas fa-star" style="color: #f9d949"></i>
                  <% end %>
                  <% anum.times do %>
                  <i class="far fa-star" style="color: #f9d949"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="status-box">
              <% if reply.reply_status == "pending" %>
                <i class="far fa-dot-circle gray"></i>
                <p class="status gray"><%= reply.reply_status%></p>
              <% elsif reply.reply_status == "accepted" %>
                <i class="far fa-check-circle green"></i>
                <p class="status green"><%= reply.reply_status%></p>
              <% elsif reply.reply_status == "rejected" %>
                <i class="far fa-times-circle red"></i>
                <p class="status red"><%= reply.reply_status%></p>
              <% end %>
            </div>
          </div>


          <div class="reply-content">
            <p class="description"><%= reply.description %></p>
          </div>
          <div class="reply-footer">
            <p class="offer gray"><%= reply.offer %> €</p>
            <div class="button-container">
              <%= link_to "Show Details", question_reply_path(@question, reply), class:"btn btn-orange btn-small" %>
            </div>
          </div>

        </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
