<%= simple_form_for [@question, @reply] do |f| %>
  <%= f.input :description, label: "Your Reply:" %>
  <%= f.input :offer, label: "Offer a Price:" %>
  <div class="text-center margin-bottom padding-top">
    <%= f.submit "Submit Reply", class: "btn btn-orange btn-big btn-margin" %>
    <%= link_to "Go Back", question_path(@question), class:"btn btn-white btn-big" %>
  </div>
<% end %>
