<div class="container">

  <h2>Reply Details</h2>
  <p>Question: <%= @question.title %></p>
  <p>User: <%= @user.email %></p>
  <p>Reply: <%= @reply.description %></p>
  <p>Price: <%= @reply.offer %></p>
  <% if current_user %>
    <% if @question.user.id == current_user.id  %>
      <%= render "calls/form", question: @question, call: @call %>
    <% else %>
    <% end %>
  <% end %>
  <br>
  <%= link_to "Go Back", question_path(@question), class:"btn btn-primary" %>
</div>


