<div class="container">

  <h2>Reply Details</h2>
  <p>Question: <%= @question.title %></p>
  <p>User: <%= @user.email %></p>
  <p>Reply: <%= @reply.description %></p>
  <p>Price: <%= @reply.offer %></p>
  <%= link_to "Book a Call", new_question_call_path(@question), class:"btn btn-primary" %>
  <br>
  <%= link_to "Go Back", question_path(@question), class:"btn btn-primary" %>
</div>


