<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 flex-inline">
      <h2>Reply details</h2>
      <%= link_to "Go Back", question_path(@question), class:"btn btn-white btn-small" %>
    </div>


    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="question-cards white-box">
        <p class="category">Your question</p>
        <p class="title"><%= @question.title %></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="question-cards white-box">
      <p class="category"><%= @user.email %>'s response:</p>
        <div class="replier-details-left">
          <div class="author-name">
            <img src="<%= @user.avatar %>" class="avatar dropdown-toggle" id="navbar-wagon-menu">
          </div>
          <div class="on-top-of">
            <p class="user-name category"> <strong> <%= @user.email %></strong></p>
            <p class ="user-name category"> <strong> Replied on <%= @reply.created_at.strftime("%d %B %Y") %> </strong></p>
          </div>
        </div>

        <p class ="category">Price: <%= @reply.offer %></p>
        <p><%= @reply.description %></p>

        <div class="margin-top margin-bottom center-button-container">
        <%# Find out whether (1) current user exists, (2) is the user that asked the question, (3) has a confirmed call for this reply. If all TRUE...%>
          <% if current_user && @question.user.id == current_user.id && @existingcall.empty? && @reply.pending?%>
            <%= render "calls/form", question: @question, call: @call %>
          <% elsif !@existingcall.empty? %>
            <p class = "call-details">There is an existing call for this reply:</p>
            <%= link_to "Show Call", question_call_path(@question, @existingcall.first), class:"btn btn-white btn-big" %>
          <% end %>
        </div>

      </div>
    </div>
    </div>

  </div>
</div>


