<div class="container">

  <h2>Reply Details</h2>
  <p>Question: <%= @question.title %></p>
  <p>User: <%= @user.email %></p>
  <p>Reply: <%= @reply.description %></p>
  <p>Price: <%= @reply.offer %></p>
  <%= render "calls/form", question: @question, call: @call %>
  <br>
  <%= link_to "Go Back", question_path(@question), class:"btn btn-primary" %>
</div>


