<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 flex-inline">
      <h2>Reply details</h2>
      <%= link_to "Go Back", question_path(@question), class:"btn btn-white btn-small" %>
    </div>


    <div class="col-xs-12 col-md-8 col-md-offset-2 question-card white-box">
      <div>
        <% if @question.user == current_user %>
          <p class="category">Your Question</p>
        <% else %>
          <p class="category">Question Details</p>
        <% end %>
        <p class="title"><%= @question.title %></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2 question-card white-box">
      <div>
      <p class="category"><%= @user.first_name %>'s reply:</p>
        <div class="replier-details-left">
          <div class="author-name">
            <img src="<%= @user.avatar %>" class="avatar-large">
          </div>
          <div class="on-top-of">
            <p class="reply-user"> <strong><%= @user.first_name %> <%= @user.last_name %> </strong></p>
            <p class ="reply-created_at"> <%= @reply.created_at.strftime("Replied on: %d/%m/%Y") %></p>
            <div class="reply-rating-stars">
              <%# Add Average Rating for this user %>
              <span class="reviews-text">Reviews:</span>
              <% ratingsum = 0  %>
              <% count = 0 %>
              <% @reviews.each do |review| %>
                <% if review.user_id == @reply.user_id %>
                  <% ratingsum += review.rating %>
                  <% count += 1 %>
                <% end %>
              <% end %>
              <% if count > 0 %>
                <% num = (ratingsum / count).round(0) %>
                <% anum = 5 - num %>
                <% num.times do %>
                <i class="fas fa-star" style="color: #f9d949"></i>
                <% end %>
                <% anum.times do %>
                <i class="far fa-star" style="color: #f9d949"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <p class="reply-offer padding-bottom">Price: <%= @reply.offer %> € </p>
        <p class="reply-description"> <%= @reply.description  %></p>

        <div class="margin-top margin-bottom center-button-container">
        <%# Find out whether (1) current user exists, (2) is the user that asked the question, (3) has a confirmed call for this reply. If all TRUE...%>
          <% if current_user && @question.user.id == current_user.id && @existingcall.empty? %>
            <%= render "calls/form", question: @question, call: @call %>
          <% elsif current_user && @question.user.id == current_user.id && !@existingcall.empty? %>
            <p class = "call-details">There is an existing call for this reply:</p>
            <%= link_to "Show Call", question_call_path(@question, @existingcall.first), class:"btn btn-white btn-big" %>
          <% else %>
            <%# Display nothing at all%>
          <% end %>
        </div>

      </div>
    </div>
    </div>

  </div>
</div>


