<div class="banner-form" style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%), url(https://images.unsplash.com/photo-1525857332689-4b3110c2d3f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64092aab3ca44d0dd8f1314166dba348&auto=format&fit=crop&w=2770&q=80); background-size: cover;background-position: center;">
    <div class="container">
      <div class="col-xs-12 col-md-6 col-md-offset-3 white-box form-box padding-all margin-top">
        <h1 class="text-center">Edit <%= resource_name.to_s.humanize %></h1>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs padding-top padding-left-right">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
            <% if current_user.avatar_changed? %>
              <%= f.input :avatar, label: 'Upload a new profile picture' %>
            <% else %>
              <%= f.input :avatar, label: 'Upload a profile picture' %>
            <% end %>
            <%= f.input :avatar_cache, as: :hidden %>
          </div>

          <div class="form-actions">
            <div class="form-button-container">
              <%= f.button :submit, "Update", class: "btn btn-orange btn-big" %>
            </div>
          <div class="padding-top">
            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
