
<% if (current_user == @question.user) || (current_user == @reply.user)  %>
  <div class="message-header">
    <div class="col-xs-12 col-md-8 col-md-offset-2 white-box reply-card convo">
      <div class="flex-start">
        <div class="flex-column">
          <img src="<%= current_user.avatar %>" class="avatar card-avatar">
          <div class="header-textbox text-center">
            <p class="user" style="margin:0px;"><%= current_user.first_name %></p>
          </div>
        </div>
        <div class="question-title">
          <%= @question.title %>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-md-8 col-md-offset-2 white-box reply-card">
      <%= simple_form_for @conversation, url: conversation_path, html: { method: :patch } do |f| %>
        <div class="flex-ends no-padding">
          <%= f.input :offer, placeholder: "New offer", label:false, :class => "rounded" %>
          <%= f.input :conversation_id, as: :hidden, input_html: { value: @conversation.id } %>
          <%= f.input :reply_id, as: :hidden, input_html: { value: @reply.id } %>
          <div>
            <%= f.submit "Submit", class: "btn btn-orange btn-small" %>
            <%= link_to "Cancel", question_path, class:"btn btn-white btn-small" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @conversation.messages.nil? %>
  <% else %>
    <% @conversation.messages.each do |message| %>
      <div class="col-xs-12 col-md-8 col-md-offset-2 no-padding">
        <% if message.sender == current_user %>


            <div class="message-bubble-right">
              <div class="reply-header">
                <div class="header-left">
                  <img src="<%= message.sender.avatar %>" class="avatar card-avatar">
                  <div class="header-textbox">
                    <p class="user"><%= message.sender.email %></p>
                    <p class="created_at gray"><%= message.created_at.strftime("Replied on: %d/%m/%Y") %> </p>
                  </div>
                </div>
              </div>
              <div class="reply-content">
                <% if message.message_type != 0 %>
                <p class="description"><%= message.content %></p>
                <% else %>
                <% end %>
              </div>
            </div>


        <% else %>


            <div class="message-bubble-left">
              <div class="reply-header">
                <div class="header-left">
                  <img src="<%= message.sender.avatar %>" class="avatar card-avatar">
                  <div class="header-textbox">
                    <p class="user"><%= message.sender.email %></p>
                    <p class="created_at gray"><%= message.created_at.strftime("Replied on: %d/%m/%Y") %> </p>
                  </div>
                </div>
              </div>
              <div class="reply-content">
                <% if message.message_type != 1 %>
                <p class="description"><%= message.content %></p>
                <% else %>
                <% end %>
              </div>
            </div>


        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="col-xs-12 col-md-8 col-md-offset-2 white-box reply-card input-footer">
    <%= simple_form_for @message, url: messages_path do |f| %>
      <div class="flex-ends no-padding">
        <%= f.input :content, placeholder: "Enter your message", label: false, class: "rounded message-box" %>
        <%= f.input :conversation_id, as: :hidden, input_html: { value: @conversation.id } %>
        <%= f.input :reply_id, as: :hidden, input_html: { value: @reply.id } %>
        <div>
          <%= f.submit "Submit", class: "btn btn-orange btn-small" %>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <%= flash[:alert] = "Mind your own business" %>
<% end %>
