<div class="dash-box">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <div class="dir-button-tabs">
      <div class="tabs">
        <a class="tab" href="/inbox">
          <h3>Inbox</h3>
        </a>
        <a class="tab active" href="/calls">
          <h3>Calls</h3>
        </a>
        <a class="tab" href="/dashboard">
          <h3>Posts</h3>
        </a>
      </div>
    </div>

    <div class="tab">
      <input id="tab-three" type="checkbox" name="tabs" checked>
      <label class="align-middle" for="tab-three">Calls from Questions</label>
      <% if @question_calls.empty? %>
      <div class="question-card tab-content">
        <p>You have no calls from your questions yet</p>
      </div>
      <% else %>

      <% @question_calls.each do |c|  %>
      <div class="question-card tab-content">
        <div class="header-left">
         <img src="<%= c.reply_author.avatar %>" class="avatar card-avatar">
         <div class="header-textbox">
          <p class="user"><%= c.reply_author.full_name %></p>
        </div>

        <div class="replier-details datetime user margin-topp">
          <p><i class="far fa-calendar-alt"></i></p>
          <p class="padding-left"><%= l(c.datetime, format: :long) if c.datetime %></p>
        </div>
      </div>

      <div class="text-left">
        <p style="text-align: left;"><%= c.question.title %></p>
        <div class="price-call-container">
          <p style="text-align: left;"><strong><%= humanized_money_with_symbol(c.price_call) %></strong></p>
          <div class="button-container">
            <%= link_to "Show Call", question_call_path(question_id: c.question.id, id: c.id), class:"btn btn-orange btn-small" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="tab">
    <input id="tab-four" type="checkbox" name="tabs" checked>
    <label class="align-middle" for="tab-four">Calls from Replies</label>
    <% if @reply_calls.empty? %>
    <div class="question-card tab-content">
      <p>You have no calls from your replies yet</p>
    </div>
    <% else %>

      <% @reply_calls.each do |call|  %>
        <div class="question-card tab-content">
          <div class="header-left">
           <img src="<%= call.question_author.avatar %>" class="avatar card-avatar">
           <div class="header-textbox">
            <p class="user"><%= call.question_author.full_name %></p>
          </div>

          <div class="replier-details datetime user margin-topp">
            <p><i class="far fa-calendar-alt"></i></p>
            <p class="padding-left"><%= l(call.datetime, format: :long) if call.datetime %></p>
          </div>
        </div>

        <div class="text-left">
          <p style="text-align: left;"><%= call.question.title %></p>
          <div class="price-call-container">

            <p style="text-align: left;"><strong><%= humanized_money_with_symbol(call.price_call) %></strong></p>
            <div class="button-container">
              <%= link_to "Show Call", question_call_path(question_id: call.question, id: call), class:"btn btn-orange btn-small" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
