<div class="container">

  <% if @call.call_status == "unconfirmed" %>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 flex-inline">
        <h2>Confirm Your Call</h2>
        <%= link_to "Go Back", question_path(@question), class:"btn btn-white btn-small" %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 flex-inline">
        <h2>Call Confirmed</h2>
        <%= link_to "Go Back", question_path(@question), class:"btn btn-white btn-small" %>
      </div>
    </div>
  <% end %>

<div class="container">

  <% if @call.call_status == "unconfirmed" %>

<!--       <div class="wrapper-gray wrapper-margin text-center">
        <h2>Confirm Your Call</h2>
      </div> -->
  <div class="row">
    <div class="question-cards white-box">
      <p class="category">Your question</p>
      <p class="title"><%= @question.title %></p>

      <div class="replier-details">
        <div class="center-images">
          <div class="author-name">
            <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar-large">
          </div>
          <div>
            <p> ... </p>
          </div>
          <div class="author-name">
            <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar-large">
          </div>
        </div>
      </div>

      <br>
      <p class="category">Call Details</p>
<!--       <p class="call-details">Question User Email: <%= @call.question.user.email %></p> -->
      <div class="padding-left-right padding-top-half">
        <p class="call-details"><strong>Call with:</strong> <%= @call.reply.user.email %></p>
        <p class="call-details"><strong>Date: </strong><%= @call.datetime %></p>
        <p class="call-details"><strong>Price:</strong> €<%= @call.price_cents %></p>
        <p class="call-details"><strong>Call Status: </strong><%= @call.call_status.capitalize %></p>
      </div>

      <br>
      <div class="text-center">
      <%= link_to "Confirm Call", question_call_confirm_path(@question, @call), class:"btn btn-big btn-orange" %>
      </div>
    </div>
  </div>

  <% else %>

  <div class="row">
    <div class="question-cards white-box">
      <p class="category">Your question</p>
      <p class="title"><%= @question.title %></p>

      <br>
      <p class="category">Get in Touch</p>
        <div class="padding-left-right padding-top-half padding-bottom">
          <p class="call-details"><strong>Call with:</strong> <%= @call.reply.user.email %></p>

          <p class="call-details"><strong>Phone number: </strong><%= @call.reply.user.phone_number %></p>
          <p class="call-details"><strong>Skype: </strong><%= @call.reply.user.skype_username %></p>
          <p class="call-details"><strong>Email: </strong><%= @call.reply.user.email %></p>
        <br>
          <p class="call-details"><strong>Date: </strong><%= @call.datetime %></p>
          <p class="call-details"><strong>Price:</strong> €<%= @call.price_cents %></p>
          <p class="call-details"><strong>Call Status: </strong><%= @call.call_status.capitalize %></p>
        </div>
      </div>
    <div class="question-cards white-box padding-top-1.5">

          <%= link_to "Write a Review", new_call_review_path(@call), class:"btn btn-primary" %>
      <div class="padding-top-half">
        <p class="category">Reviews also appear on the profile page of the person you reviewed.</p>
      </div>
        <% @reviews.each do |review| %>
      <div class="white-box review-card">
        <p> User: <%= review.user_id %></p>
        <p> Rating: <%= review.rating %> </p>
        <p> <%= review.description %> </p>
      </div>
        <% end %>
    </div>
  </div>

  <% end %>




</div>



