<div class="container">

  <% if @call.call_status == "unconfirmed" %>

    <div class="confirm-card white-box">
      <h2>Confirm your Call</h2>

      <p>Your question:</p>
      <h3><%= @question.title %></h3>

      <p>Question User Email: <%= @call.question.user.email %></p>
      <p>Call User Email: <%= @call.reply.user.email %></p>
      <p>Date: <%= @call.datetime %></p>
      <p>Price: <%= @call.price_cents %></p>
      <p>Call Status: <%= @call.call_status %></p>

      <%= link_to "Confirm Call", question_call_confirm_path(@question, @call), class:"btn btn-primary" %>
    </div>

  <% else %>

    <div class="confirm-card white-box">
      <h2>Call Confirmed</h2>

      <p>Your question:</p>
      <h3><%= @question.title %></h3>

      <p>Question User Email: <%= @call.question.user.email %></p>
      <p>Call User Email: <%= @call.reply.user.email %></p>
      <h4>Get in Touch</h4>
      <p>Phone number: <%= @call.reply.user.phone_number %></p>
      <p>Skype: <%= @call.reply.user.skype_username %></p>
      <p>Email: <%= @call.reply.user.email %></p>
      <p>Date: <%= @call.datetime %></p>
      <p>Price: <%= @call.price_cents %></p>
      <p>Call Status: <%= @call.call_status %></p>
    </div>

      <%= link_to "Write a Review", new_call_review_path(@call), class:"btn btn-primary" %>

      <h4>Review</h4>
      <p>Reviews also appear on the profile page</p>
      <% @reviews.each do |review| %>
    <div class="white-box review-card">
      <p> User: <%= review.user_id %></p>
      <p> Rating: <%= review.rating %> </p>
      <p> <%= review.description %> </p>
    </div>
      <% end %>


  <% end %>

</div>



