<div class="container">

<%# Page if Call unconfirmed  %>
  <% if @call.call_status == "unconfirmed" %>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 flex-inline">
        <h2>Confirm Your Call</h2>
        <%= link_to "Go Back", question_path(@question), class:"btn btn-white btn-small" %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 flex-inline">
        <h2>Call Confirmed</h2>
        <%= link_to "Go Back", question_path(@question), class:"btn btn-white btn-small" %>
      </div>
    </div>
  <% end %>

  <% # FIRST STEP OF THE PROGRESS: set a time for the call %>
  <% if @call.call_status == "unconfirmed" && @call.datetime.nil? %>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 question-card white-box">

        <%# Progress Bar depending on Call Status  %>
        <div class="status-header">
          <div class="status status-first current">
            <p>01 - Set Call</p>
          </div>
          <div class="status status-center border-left incomplete">
            <p>02 - Confirm Call</p>
          </div>
          <div class="status status-last border-left incomplete">
            <p>03 - Call Summary</p>
          </div>
        </div>
        <div>
          <%# Display Question for this call %>
          <p class="category">Your question</p>
          <p class="title"><%= @question.title %></p>

          <%# Display Call-Details  %>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">

              <%# Display two user avatars  %>
              <div class="replier-details">
                <div class="center-images">
                  <div class="author-name">
                    <img src="<%= @call.question.user.avatar %>" class="avatar-large">
                  </div>
                  <div>
                    <p> <i class="fas fa-phone phone-icon-preconfirmation"></i> </p>
                  </div>
                  <div class="author-name">
                    <img src="<%= @call.reply.user.avatar %>" class="avatar-large">
                  </div>
                </div>
              </div>

              <%# Contact Info for Call  %>
              <div class="replier-details">
                <div class="center-text">
                  <div class="padding-left-right padding-top-half">
                    <p class="category text-center">Your Call with</p>
                    <p class="caller-name"><%= @call.reply.user.first_name %> <%= @call.reply.user.last_name %></p>
                  </div>
                </div>
              </div>

              <div id="call-calendar">

                <%# Datepicker to set date for call  %>
                <div class="dateheader">
                  <p class="text-center">Pick a date for your call</p>
                </div>
                <div class="clear-date text-center">
                  <input class="form-control string optional datepicker flatpickr-input form-control input" placeholder="Pick a date..." tabindex="0" type="text" readonly="readonly">
                </div>

                <div class="time-picker">
                  <% slots = (9..24).to_a %>
                  <% num = slots.size - 1 %>
                  <div class="row">
                    <% num.times do |i| %>
                      <div class="col-xs-4 timeslot-box">
                        <p class="timeslot slot-<%= "#{slots[i]}" %>"><%= "#{slots[i]}:00" %></p>
                      </div>
                    <% end %>
                  </div>
                </div>

              </div>


              <div class="button-container">
              <div id="setCall" class="btn btn-orange btn-big hidden">Set Call</div>

              </div>
            </div>
          </div>

          <%# ^^^^End of inside grid col-sm-6 %>
        </div>
    </div>
  </div>
  <%# ^^^^ End outside grid col-md-8%>

    <% # FIRST STEP OF THE PROGRESS: set a time for the call %>
    <% elsif @call.call_status == "unconfirmed"%>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 question-card white-box">

        <%# Progress Bar depending on Call Status  %>
        <div class="status-header">
          <div class="status status-first completed">
            <p>&#10003  Set Call</p>
          </div>
          <div class="status status-center border-left current">
            <p>02 - Confirm Call</p>
          </div>
          <div class="status status-last border-left incomplete">
            <p>03 - Call Summary</p>
          </div>
        </div>


        <%# Display Question for this call %>
        <p class="category">Your question</p>
        <p class="title"><%= @question.title %></p>

        <%# Display Call-Details  %>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">

            <div class="replier-details">
              <div class="center-images">
                <div class="author-name">
                  <img src="<%= @call.question.user.avatar %>" class="avatar-large">
                </div>
                <div>
                  <p> <i class="fas fa-phone phone-icon-preconfirmation"></i> </p>
                </div>
                <div class="author-name">
                  <img src="<%= @call.reply.user.avatar %>" class="avatar-large">
                </div>
              </div>
            </div>

            <div class="replier-details">
              <div class="center-text">
                <div class="padding-left-right padding-top-half">
                  <p class="category text-center">Your Call with</p>
                  <p class="caller-name"><%= @call.reply.user.first_name %> <%= @call.reply.user.last_name %></p>
                  <p class="caller-name red">Call <%= @call.call_status.capitalize %></p>
                  <p class="call-details"><strong>Date: </strong><%= @call.datetime.strftime("%d/%m/%Y") %></p>
                  <p class="call-details"><strong>Time: </strong><%= @call.datetime.strftime("%H:%M") %>h</p>
                  <p class="call-details"><strong>Price:</strong> € <%= @call.price_cents %></p>
                </div>
              </div>
            </div>


            <div class="button-container">
            <%= link_to "Confirm Call", question_call_confirm_path(@question, @call), class:"btn btn-big btn-orange" %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%# End of Unconfirmed Page  %>
  <% else %>

    <%# Beginning of Confirmed Page %>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 question-card white-box">
        <%# Progress Bar depending on Call Status  %>
        <div class="status-header">
          <div class="status status-first completed">
            <p>&#10003  Set Call</p>
          </div>
          <div class="status status-center border-left completed">
            <p>&#10003  Confirm Call</p>
          </div>
          <div class="status status-last border-left current">
            <p>03 - Call Summary</p>
          </div>
        </div>
        <div>
          <p class="category">Your question</p>
          <p class="title"><%= @question.title %></p>

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">

              <div class="replier-details">
                <div class="center-images">
                  <div class="author-name">
                    <img src="<%= @call.question.user.avatar %>" class="avatar-large">
                  </div>
                  <div>
                    <p> <i class="fas fa-phone phone-icon-confirmed"></i> </p>
                  </div>
                  <div class="author-name">
                    <img src="<%= @call.reply.user.avatar %>" class="avatar-large">
                  </div>
                </div>
              </div>

            <div class="replier-details">
              <div class="center-text">
                  <div class="padding-left-right padding-bottom">
                    <p class="category text-center">Your Call with</p>
                    <p class="caller-name">
                      <%= @call.reply.user.first_name %><%= @call.reply.user.last_name %></p>
                    <p class="caller-name green">Call <%= @call.call_status.capitalize %></p>
                    <br>
                    <p class="call-details"><strong>Phone number: </strong><%= @call.reply.user.phone_number %></p>
                    <p class="call-details"><strong>Skype: </strong><%= @call.reply.user.skype_username %></p>
                    <p class="call-details"><strong>Email: </strong><%= @call.reply.user.email %></p>
                  <br>
                    <p class="call-details"><strong>Date: </strong><%= @call.datetime.strftime("%d/%m/%Y") %></p>
                    <p class="call-details"><strong>Time: </strong><%= @call.datetime.strftime("%H:%M") %>h</p>
                    <p class="call-details"><strong>Price:</strong> € <%= @call.price_cents %></p>

                  <%# Link to Dashboard  %>
                  <div class="center-text padding-top-double">
                    <p class="button-details">View call in your personal dashboard</p>
                  </div>
                  <%= link_to "Go to Dashboard", dashboard_path, class:"btn btn-big btn-white" %>

                  <%# Link to Write Review only visible after Call-Date  %>
                  <%# if @reviews.count == 0 && @call.datetime < Date.today %>
                    <%= link_to "Write a Review", new_call_review_path(@call), class:"btn btn-big btn-orange"%>
                  <%# else %>
                    <!-- <p class="button-details center-text padding-top">Write a review after your call</p> -->
                    <%# link_to "Write a Review", new_call_review_path(@call), class:"btn btn-big btn-orange disabled"%>
                  <%# end %>
                  </div>
                </div>
              </div>
            </div>

            </div>
          </div>
        </div>
  <% end %>
</div>

<ul class="hidden">
  <% @calls_of_replier.each do |call| %>
      <li class="calls-info"><%= call.datetime%></li>
  <% end %>
      <li class="calls-info">2018-07-19 14:00:00 UTC</li>
      <li class="calls-info">2018-07-19 15:00:00 UTC</li>
      <li class="calls-info">2018-07-20 15:00:00 UTC</li>
      <li class="calls-info">2018-07-20 17:00:00 UTC</li>
      <li class="calls-info">2018-07-20 18:00:00 UTC</li>
      <li class="calls-info">2018-07-21 11:00:00 UTC</li>
      <li class="calls-info">2018-07-21 12:00:00 UTC</li>
      <li class="calls-info">2018-07-21 16:00:00 UTC</li>
      <li class="calls-info">2018-07-22 09:00:00 UTC</li>
      <li class="calls-info">2018-07-22 10:00:00 UTC</li>
      <li class="calls-info">2018-07-22 18:00:00 UTC</li>
</ul>

<%#= content_tag :div, class: "calls_info", data: {calls_replier: @calls_of_replier} do %>
<%# end %>


