<h2 class="text-center">Dashboard</h2>

<div class="tab">
      <input id="tab-one" type="checkbox" name="tabs">
      <label class="align-middle" for="tab-one">Your Questions</label>
      <% current_user.questions.each_with_index do |q, i|  %>
          <div class="question-card tab-content">
            <div class="o-flexy">
              <div class="o-flexy__block">
                <p><%= q.title %></p>
              </div>
              <%=  link_to("edit", edit_question_path(q.id), class: "btn-small btn-white") %>
              <%=  link_to("view", question_path(q.id), class: "btn-small btn-orange") %>
            </div>
          </div>

      <% end %>
    </div>

    <div class="tab">
      <input id="tab-two" type="checkbox" name="tabs">
      <label class="align-middle" for="tab-two">Your Replies</label>
      <% current_user.replies.each_with_index do |r, i|  %>
      <div class="inner-tab">
        <div class="tab">
          <input id="reply-tab-<%= i+1 %>-nested" type="checkbox" name="inside tab">
          <label class="align-middle" for="reply-tab-<%= i+1 %>-nested"> <p> Reply to: <%= r.question.title %></p></label>
          <div class="question-card tab-content">
            <div class="o-flexy">
              <div class="o-flexy__block">
                <p><%= r.description %></p>
              </div>
              <%=  link_to("edit", edit_question_reply_path(r.question.id, r.id), class: "btn-small btn-orange") %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>




<!--     <div class="tab">
      <input id="tab-one" type="checkbox" name="tabs">
      <label class="align-middle" for="tab-one">Your Questions</label>
      <% current_user.questions.each_with_index do |q, i|  %>
      <div class="inner-tab">
        <div class="tab">
          <input id="question-tab-<%= i+1 %>-nested" type="checkbox" name="inside tab">
          <label class="align-middle" for="question-tab-<%= i+1 %>-nested"> <p> <%= q.title %></p></label>
          <div class="question-card tab-content">
            <div class="o-flexy">
              <div class="o-flexy__block">
                <p><%= q.description %></p>
              </div>
              <%=  link_to("edit", edit_question_path(q.id), class: "btn-small btn-orange") %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>



 -->











