

<div class="dash-box">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <div class="dir-button-tabs">
      <div class="tabs">
        <a class="tab" href="/inbox">
          <h3>Inbox</h3>
        </a>
        <a class="tab right" href="/calls">
          <h3>Calls</h3>
        </a>
        <a class="tab active" href="/dashboard">
          <h3>Posts</h3>
        </a>
      </div>
    </div>

    <div class="tab">
      <input id="tab-one" type="checkbox" name="tabs" checked>
      <label class="align-middle" for="tab-one">Your Questions</label>
      <% if current_user.questions.empty? %>
      <div class="question-card tab-content">
        <p>You have not asked any questions yet</p>
      </div>

      <% else %>

      <% current_user.questions.each_with_index do |q, i|  %>
      <div class="question-card tab-content">
        <div>
          <p><%= q.title %></p>
        </div>
        <div class="text-center button-container">
          <%=  link_to("edit", edit_question_path(q.id), class: "btn-small btn-white") %>
          <%=  link_to("view", question_path(q.id), class: "btn-small btn-orange") %>
        </div>

      </div>
      <% end %>
      <% end %>
    </div>

    <div class="tab">
      <input id="tab-two" type="checkbox" name="tabs">
      <label class="align-middle" for="tab-two">Your Replies</label>
      <% if current_user.questions.empty? %>
      <div class="question-card tab-content">
        <p>You have not asked any questions yet</p>
      </div>
      <% else %>
      <% current_user.replies.each_with_index do |r, i|  %>

      <div class="question-card tab-content">
        <div>
          <p>Reply to: <%= r.question.title %></p>
          <p class="little_p"><%= r.description %></p>
        </div>
        <div class="text-center button-container">
          <%=  link_to("edit", edit_question_reply_path(r.question.id, r.id), class: "btn-small btn-orange") %>
        </div>
      </div>

    <% end %>
    <% end %>
    </div>
  </div>
</div>



