<h1>Profile Overview</h1>
<%= current_user.id %>



<h2>All Questions</h2>
<ul>
  <% current_user.questions.each do |q|  %>
  <li> <%= q.title %></li>
  <% end %>
</ul>



<h2>All Replies</h2>
<ul>
<% current_user.replies.each do |r| %>
    <% question = r.question %>
<li> "Replied to <%= question.user.first_name %> <%= question.user.last_name %>'s question about <%= question.category.name %>" </li>
<% end %>
</ul>



    <div class="tab">
      <input id="tab-one" type="checkbox" name="tabs">
      <label for="tab-one">All Questions</label>
      <% current_user.questions.each_with_index do |q, i|  %>
      <div class="inner-tab">
        <div class="tab">
          <input id="tab-<%= i+1 %>-nested" type="checkbox" name="tabs">
          <label for="tab-<%= i+1 %>-nested"><%= q.title %></label>
          <div class="tab-content">
            <p><%= q.description %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
















    <div class="tab">
      <input id="tab-two" type="checkbox" name="tabs">
      <label for="tab-two">All Replies</label>
      <% current_user.replies.each do |r|  %>
      <% question = r.question %>
      <div class="tab-content">
        <h3>Replied to <%= question.user.first_name %> <%= question.user.last_name %>'s question about <%= question.category.name %></h3>
      </div>
      <% end %>
    </div>



