<div class="wrapper-white">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%), url('<%= asset_path('call-banner.jpg') %>');">
    <div class="banner-content">
      <h1><strong>Right Person</strong></h1>
      <h1><strong>Right Time</strong></h1>
      <p>Your answer is only one call away.</p>
    </div>
  </div>
</div>

<div class="wrapper-white wrapper-margin">
  <div class="calltoaction text-center">
    <%=  link_to "Ask Your Question", new_question_path, class:"btn-orange btn-big"%>
  </div>
</div>

<div class="container">
  <div class="wrapper-gray wrapper-margin text-center">
    <h2><strong>Browse Questions by Category</strong></h2>
  </div>
  <% # HARD CODED categories  %>
  <div class="categories">
    <div class="row">

      <% @icons.each do |icon| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <%=  link_to questions_path(:filter => icon.name), class:"btn-icons" do %>
          <div class="icons-card">
            <div class="content">
              <p><%= icon.name %></p>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>

<!--      <i class="fas fa-football-ball"></i>
     <p>Sport</p>

      <i class="fas fa-globe"></i>
      <p>General Knowlegde</p>

      <i class="fas fa-flask"></i>
      <p>Sciences & Nature</p>

      <i class="fas fa-music"></i>
      <p>Music</p>

      <i class="fas fa-book"></i>
      <p>Books</p>

      <i class="fas fa-film"></i>
      <p>Films</p> -->

      <% # end row %>
    </div>

    <div class="calltoaction text-center">
      <%=  link_to "View All Questions", questions_path, class:"btn-white btn-big"%>
    </div>
  <% # end category div %>
  </div>

</div>
