<div class="wrapper">
  <div class="diagonal-background">
  </div>
    <div class="front-content">
      <div class="banner-content profile-banner">
        <h2 style="color: #f6f6f6">My Profile</h2>
      </div>

      <div class="container text-center no-margin">
        <!-- <img src="<%= current_user.avatar.url %>" class="profile-image-lg"> -->
        <%= image_tag current_user.avatar.profile_lg.url, class:"profile-image-lg align-self-center"%>
          <h1 class="text-center"><%="#{current_user.first_name} #{current_user.last_name}"%></h1>
        <div class="col-xs-12 col-md-offset-1 col-md-10 question-card">
        <div class="text-left">
          <h3>Profile Information</h3>
          <ul style="list-style-type: none; padding: 0;">
            <li><strong>Member since:  </strong><%= current_user.created_at.strftime("%d %B %Y") %></li>
            <li><strong>Email:  </strong><%= current_user.email %></li>
            <li><strong>Phone Number:  </strong><%= current_user.phone_number %></li>
            <li><strong>WhatsApp:  </strong><%= current_user.whatsapp_number %></li>

          </ul>
        </div>
        </div>
        <div class="col-xs-12 col-md-offset-1 col-md-10 question-card">
        <div class="text-left">
          <h3>Address</h3>
          <ul style="list-style-type: none; padding: 0;">
            <li><strong>Street:  </strong><%= current_user.street %></li>
            <li><strong>City:  </strong><%= current_user.city %></li>
            <li><strong>Zip Code:  </strong><%= current_user.zipcode %></li>
            <li><strong>Country:  </strong><%= current_user.country %></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
    <%= link_to("Back to Dashboard", dashboard_path(current_user), {class:"btn-big btn-orange", style: "display: block"}) %>
    <%= link_to("Edit Profile", edit_user_registration_path(current_user), {class:"btn-big btn-white", style: "display: block"}) %>
</div>

