<%= simple_form_for [@call, @review] do |f| %>
  <div class="author-name text-center margin-bottom padding">
    <p><strong>For your expert: </strong></p>
    <img src="https://kitt.lewagon.com/placeholder/users/random" class="avatar-large">
    <p><span class="user-name"><%= @user.email %></span></p>
    <p><span class="user-name"><%= @call.created_at.strftime("Call Date: %d/%m/%Y") %></span></p>
  </div>
  <%= f.input :description, label: "Your Review:" %>
  <%= f.input :rating, :as => :grouped_select,
      :collection => { [1,2,3,4,5] => 'Rating - 1: Low to 5: High' },
      :group_method => :first,
      :group_label_method => :last %>
  <div class="text-center margin-bottom padding-top">
    <%= f.submit "Submit Review", class: "btn btn-orange btn-big" %>
  </div>
<% end %>
