<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:type"  content="mobile application" />
    <meta property="og:url"   content="<%= request.original_url %>" />
    <meta property="og:title" content="Coalla.me | Your answer is only one call away" />
    <meta property="og:image" content="<%= image_url('opengraph.png') %>" />
    <meta property="og:description" content="Coalla.me connects you with the right person at the right time. The answer to your question is only one call away." />
    <meta property="og:locale" content="it_IT" />



    <title>Coalla</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous" defer></script>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
